<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

<body style="margin:0; font-family:Arial; background:#0f172a; display:flex; justify-content:center; align-items:center; height:100vh;">

<div style="background:#1e293b; padding:40px; border-radius:15px; width:300px; box-shadow:0 0 20px rgba(0,0,0,0.5);">

    <h2 style="color:white; text-align:center;">🔐 Secure Login</h2>

    <form method="POST">

        <label style="color:white;">Username</label>
        <input type="text" name="username" required
            style="width:100%; padding:10px; margin:10px 0; border:none; border-radius:8px;">

        <label style="color:white;">Password</label>
        <input type="password" name="password" required
            style="width:100%; padding:10px; margin:10px 0; border:none; border-radius:8px;">

        <button type="submit"
            style="width:100%; padding:10px; margin-top:15px; background:#ef4444; color:white; border:none; border-radius:8px; cursor:pointer;">
            Login
        </button>

    </form>

</div>

</body>
</html>